@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .component-section {
    @apply min-h-screen px-6 py-5;
    height: 500px;
  }

  .gradient-home {
    background: linear-gradient(
      315deg,
      #242424 0%,
      #363237 25%,
      #333840 75%,
      #242424 100%
    );
  }
}

@layer utilities {
  .animation-delay-75 {
    animation-delay: 75ms;
  }
  .animation-delay-500 {
    animation-delay: 500ms;
  }
  .animation-delay-1000 {
    animation-delay: 1s;
  }
}
